.text-field.error {
  -fx-text-box-border: red;
}

.date-picker.error {
	-fx-outer-border: red;
}

.choice-box.error {
	-fx-outer-border: red;
}

.check-box.error {
	-fx-outer-border: red;
	-fx-focus-color: red;
}

